@use '../abstracts' as *;

.full-article {
  font-size: $article-body-font-size-sm-screen;

  > * strong {
    font-weight: $article-body-strong-font-weight;
  }

  > h2 {
    font-size: $article-h2-font-size-sm-screen;
    font-weight: $article-h2-font-weight;
  }

  > h3 {
    font-size: $article-h3-font-size-sm-screen;
    font-weight: $article-h3-font-weight;
  }

  @include mq(medium) {
    font-size: $article-body-font-size-lg-screen;

    > h2 {
      font-size: $article-h2-font-size-lg-screen;
    }

    > h3 {
      font-size: $article-h3-font-size-lg-screen;
    }
  }
}
