@use '../abstracts' as *;

.full-article {
  font-size: $article-body-font-size-sm-screen;

  > blockquote {
    color: $color-neutral-300;
    font-size: 1.5em;
    max-width: 55%;
    line-height: 1.4;
    position: relative;
    margin-inline: auto;
    padding: 0.5rem;

    &::before,
    &::after {
      position: absolute;
      color: $color-neutral-100;
      font-size: 4em;
      width: 3rem;
      height: 3rem;
    }

    &:before {
      content: '“';
      left: -3rem;
      top: -3rem;
    }

    &:after {
      content: '”';
      right: -1rem;
      bottom: 2rem;
    }
  }

  strong {
    font-weight: $article-body-strong-font-weight;
  }

  > h2 {
    font-size: $article-h2-font-size-sm-screen;
    font-weight: $article-h2-font-weight;
  }

  > h3 {
    font-size: $article-h3-font-size-sm-screen;
    font-weight: $article-h3-font-weight;
  }

  > p:has(> img) {
    img {
      display: inline-block;
      max-height: 40vmin;
      object-fit: cover;
      width: 100dvw;
      max-width: 100dvw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-inline-start: -50vw;
      margin-inline-end: -50vw;
      margin-block-start: 1rem;
    }
  }

  @include mq(medium) {
    font-size: $article-body-font-size-lg-screen;

    > h2 {
      font-size: $article-h2-font-size-lg-screen;
    }

    > h3 {
      font-size: $article-h3-font-size-lg-screen;
    }
  }
}
